.adminUserCard {
  border: 1px solid rgb($neutral500, 0.6);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;

  .userDetails,
  .userForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  input,
  select {
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid rgba(200, 200, 200, 0.4);
  }

  .buttons {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    min-width: 100px;
    border: 1px solid rgb($neutral500, 0.5);
    padding: 0.4rem;
    border-radius: 10px;
    word-break: break-word;

    overflow-wrap: break-word;
  }

  .userDetailsHeading {
    border-radius: 0;
    border: none;
  }

  .userDetailsDate {
    align-items: center;
  }
}
