.projectForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  padding: 2rem;
  gap: 1rem;

  .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $neutral600;
    padding: 0.5rem;
    width: fit-content;
  }
}
