.taskCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba($neutral500, 0.4);
  border-radius: 10px;
  padding: 10px;
  gap: 0.8rem;

  .taskCardContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;

    .taskCardStatus {
      align-self: flex-start;
      border: 1px solid rgba($neutral500, 0.4);
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
      font-weight: 500;

      &.pending {
        background-color: $warning100;
        color: $warning600;
        border-color: $warning300;
      }

      &.in_progress {
        background-color: $info100;
        color: $info600;
        border-color: $info300;
      }

      &.completed {
        background-color: $success100;
        color: $success600;
        border-color: $success300;
      }
    }

    .taskCardPriority {
      align-self: flex-start;
      border: 1px solid rgba($neutral500, 0.4);
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
      font-weight: 500;

      &.low {
        background-color: $success100;
        color: $success600;
        border-color: $success300;
      }

      &.medium {
        background-color: $warning100;
        color: $warning600;
        border-color: $warning300;
      }

      &.high {
        background-color: $error100;
        color: $error600;
        border-color: $error300;
      }
    }
  }

  .taskCardButtons {
    display: flex;
    gap: 10px;
  }
}
