.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgb($neutral500, 0.4);
  border-radius: 10px;
  padding: 10px;
  gap: 0.8rem;

  .projectCardContent {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.8rem;

    &.form {
      gap: 0.3rem;
    }

    .projectCardHead {
      display: flex;
      justify-content: space-between;

      .projectCardStatus {
        align-self: end;
        border: 1px solid rgba($neutral500, 0.4);
        padding: 0.3rem 0.6rem;
        border-radius: 30px;
        font-weight: 500;

        &.active {
          background-color: $info100;
          color: $info600;
          border-color: $info300;
        }

        &.completed {
          background-color: $success100;
          color: $success600;
          border-color: $success300;
        }

        &.on_hold {
          background-color: $warning100;
          color: $warning600;
          border-color: $warning300;
        }

        &.archived {
          background-color: $error100;
          color: $error600;
          border-color: $error300;
        }
      }
    }

    p {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }
  }

  .projectCardButtons {
    display: flex;
    gap: 10px;
  }
}
