// SIDE NAV
.sideNav {
  position: sticky;
  top: 0;
  z-index: 1600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  min-width: 250px;
  max-width: 250px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-right: 1px solid $dark;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;

  &.close {
    min-width: 66px;
    max-width: 66px;
    transition: 0.5s;
  }

  // Minimalist scrollbar for WebKit (Chrome, Edge, Safari)
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($neutral600, 0.4); // Light minimal color
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($neutral600, 0.6);
  }

  @media screen and (max-width: 768px) {
    display: none;
    visibility: hidden;
  }

  .sideNavLogoContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    transition: 0.3s;

    &.isClosed {
      justify-content: center;
      transition: 0.3s;
    }

    .sideNavLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      min-width: max-content;
    }
  }

  .sideNavSegment {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .sideNavButtons {
      display: flex;
      justify-content: end;
      gap: 0.5rem;
    }

    .sideNavProfile {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      padding-bottom: 1rem;

      border-bottom: 1px solid $dark;
    }

    .sideNavLinkLayout {
      padding: 0 0 1rem 0;
    }

    .sideNavLinkHr {
      border: 1px solid $light;
    }
  }

  .sideNavButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;
  }
}

.sideNavButton {
  display: flex;
  align-self: end;
  background: $dark;
  color: $light;
  padding: 0.5em;
  border-radius: 50%;
}

.navButtonType1 {
  border-radius: 10px;
  display: flex;
  align-self: end;
  background: $dark;
  color: $light;
  padding: 0.5em;
  transition: 0.1s;
  min-width: max-content;

  &:hover {
    background-color: rgb($dark, 0.8);
    color: $light;
    transition: 0.1s;
  }
}
