.cardSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 1px solid $neutral500;
  background-color: rgb($neutral100, 0.1);
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 10px;
}
