// =======================================
// STANDARDIZED SECTION STYLES (PLAIN / GRADIENT BACKGROUND)
// This is a standard style for all sections in the app that have either a light or dark background.
// =======================================

.sectionLight {
  background-color: $neutral100;
  color: $dark;
  transition: 0.5s;
  width: 100%;
}

.sectionDark {
  background-color: $neutral900;
  color: $light;
  transition: 0.5s;
  width: 100%;
}

.sectionDarkGradient {
  background: linear-gradient(145deg, #000000 0%, #000000 100%);
}

.sectionHalf {
  display: flex;
  max-width: 1366px;
  width: 100%;
  justify-self: center;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

// =======================================
// STANDARDIZED SECTION STYLES (WITH BACKGROUND IMAGE AND BLUR EFFECT)
// This is a standard style for all sections in the app that require a background image, a blur effect, and the section container/wrapper.
// =======================================

.sectionBackground {
  // background-image: url("src/assets/home-hero-bg.webp");
  background-attachment: fixed; // Fix the background image in place, so it doesn't scroll with the content. Can be changed to "scroll" in the section itself if needed.
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: $light;

  @media screen and (max-width: 1024px) {
    background-attachment: scroll;
  }
}

.sectionBackgroundBlur {
  z-index: 1;

  @media screen and (max-width: 1024px) {
    backdrop-filter: blur(10px);
  }

  // Noise Filter
  &:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
// =======================================
// STANDARD SECTION WRAPPER & CONTENT STYLES
// This is a standard style for all section wrapper & content
// =======================================

.sectionWrapper {
  display: flex;
  justify-content: center;

  min-height: fit-content; //This is needed in every section, but should be adjusted to accommodate the content size
  max-width: 1366px;
  margin: auto;
  // padding: 5rem 3rem;
  padding: 1rem;

  overflow: hidden;

  @media screen and (max-width: 1024px) {
    // padding: 3rem 1rem;
  }
}

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 4rem;
}
