.quickActionsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1rem;

  .quickActionsHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
    transition: color 0.2s;
    background-color: rgb($neutral500, 0.1);
    width: fit-content;
    border-radius: 8px;
    border: 1px solid rgb($neutral500, 0.5);

    &:hover {
      color: $primary;
      transition: color 0.2s;
    }
  }

  .quickActionsCardLayout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.3rem; // space between cards
    width: 100%;

    // optional responsive behavior
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}
