.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: start;
  width: 100%;

  .profilePhoto {
    width: 150px;
    height: 150px;
    background-color: $dark;
    border-radius: 50%;
    border: 4px solid $neutral800;
    overflow: hidden; // ensures image stays inside the circle
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 101%;
      height: 101%;
      object-fit: cover; // fills the circle nicely without stretching
      object-position: center; // centers the subject
      display: block; // removes default inline spacing
    }
  }

  .profileSection {
    display: flex;
    width: 100%;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    h2 {
      width: 30%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .profileDetails {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .profileLabel {
        width: 100%;
      }
    }
  }
}
